<a href="https://colab.research.google.com/github/matheuscosantos/candidatos-cassados-eleicoes-2016/blob/main/Analise_eleicoes_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de sobre candidatos cassados nas eleições municipais de 2016

### Autor: Matheus da Cruz Oliveira dos Santos
### Fonte: https://brasil.io/dataset/eleicoes-brasil/candidatos/

In [3]:
import pandas as pd
cassado_com_recurso = pd.read_csv("/content/drive/My Drive/Dados/eleicoes-brasil-cassado-com-recurso.csv")
cassado = pd.read_csv("/content/drive/My Drive/Dados/eleicoes-brasil-cassados.csv")
frames = [cassado_com_recurso, cassado]
dados = pd.concat(frames)

## Candidatos cassados ou cassados com recurso

In [53]:
quantidade = dados['des_situacao_candidatura'].to_frame() \
                                              .reset_index() \
                                              .groupby(by='des_situacao_candidatura') \
                                              .count()
quantidade = quantidade.reset_index()
quantidade.columns = ['situação', 'quantidade']
quantidade

              situação  quantidade
0              CASSADO         102
1  CASSADO COM RECURSO          35

## Candidatos cassados ou cassados com recurso por estado.
### Obs.: A quantidade de políticos cassados no estado do Piauí é elevado.

In [54]:
quantidade_por_estado = dados['sigla_uf'].to_frame() \
                                         .reset_index() \
                                         .groupby(by='sigla_uf') \
                                         .count() \
                                         .sort_values(['index'], ascending=False) \
                                         .head()

quantidade_por_estado = quantidade_por_estado.reset_index()
quantidade_por_estado.columns = ['estado', 'quantidade']
quantidade_por_estado

  estado  quantidade
0     SP          50
1     PI          45
2     SC          11
3     RS           5
4     GO           4

## Candidatos cassados ou cassados com recurso por partido

In [55]:
quantidade_por_partido = dados['sigla_partido'].to_frame() \
                                               .reset_index() \
                                               .groupby(by='sigla_partido') \
                                               .count() \
                                               .sort_values(['index'], ascending=False) \
                                               .head(10)

quantidade_por_partido = quantidade_por_partido.reset_index()
quantidade_por_partido.columns = ['partido', 'quantidade']
quantidade_por_partido

  partido  quantidade
0     PTB          19
1      PR          11
2    PMDB          10
3    PSDB          10
4     PSD          10
5     PSB           9
6     PPS           9
7     PTC           8
8      PP           7
9     DEM           6

## Candidatos cassados ou cassados com recurso e eleitos

In [56]:
descricao = dados['desc_sit_tot_turno'].to_frame() \
                                       .reset_index() \
                                       .groupby(by='desc_sit_tot_turno') \
                                       .count() \
                                       .sort_values(['index'], ascending=False)

descricao = descricao.reset_index()
descricao.columns = ['descrição', 'quantidade']
descricao

       descrição  quantidade
0     NÃO ELEITO         108
1         ELEITO          16
2  ELEITO POR QP           7
3       SUPLENTE           3

## Candidatos cassados ou cassados agrupados por sexo

In [57]:
orientacao = dados['descricao_sexo'].to_frame() \
                                    .reset_index() \
                                    .groupby(by='descricao_sexo') \
                                    .count() \
                                    .sort_values(['index'], ascending=False)

orientacao = orientacao.reset_index()
orientacao.columns = ['orientação sexual', 'quantidade']
orientacao

  orientação sexual  quantidade
0         MASCULINO         102
1          FEMININO          35

## Candidatos cassados e que foram eleitos. Obs.: A maioria das cidades dessa lista possuem prefeitos e vice-prefeitos cassados e estão no Estado de São Paulo

In [58]:
eleitos = dados.query('desc_sit_tot_turno == "ELEITO"') \
               .sort_values(['descricao_ue'], ascending=False)
eleitos = eleitos.drop(columns=['cpf_candidato','num_turno','numero_candidato','data_nascimento','descricao_sexo'])
eleitos.columns = ['ano', 'uf', 'município', 'cargo', 'partido', 'nome', 'nome na urna', 'situação', 'descrição']
eleitos

      ano  uf  ...             situação descrição
100  2016  SP  ...              CASSADO    ELEITO
101  2016  SP  ...              CASSADO    ELEITO
33   2016  SP  ...  CASSADO COM RECURSO    ELEITO
34   2016  SP  ...  CASSADO COM RECURSO    ELEITO
29   2016  SP  ...  CASSADO COM RECURSO    ELEITO
30   2016  SP  ...  CASSADO COM RECURSO    ELEITO
27   2016  SP  ...  CASSADO COM RECURSO    ELEITO
28   2016  SP  ...  CASSADO COM RECURSO    ELEITO
20   2016  SP  ...  CASSADO COM RECURSO    ELEITO
22   2016  SP  ...  CASSADO COM RECURSO    ELEITO
18   2016  SP  ...  CASSADO COM RECURSO    ELEITO
16   2016  SP  ...  CASSADO COM RECURSO    ELEITO
17   2016  SP  ...  CASSADO COM RECURSO    ELEITO
4    2016  GO  ...  CASSADO COM RECURSO    ELEITO
15   2016  SP  ...  CASSADO COM RECURSO    ELEITO
94   2016  SP  ...              CASSADO    ELEITO

[16 rows x 9 columns]