<a href="https://colab.research.google.com/github/matheuscosantos/candidatos-cassados-eleicoes-2016/blob/main/Analise_eleicoes_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de sobre candidatos cassados nas eleições municipais de 2016

### Matheus da Cruz Oliveira dos Santos

In [37]:
import pandas as pd
cassado_com_recurso = pd.read_csv("/content/drive/My Drive/Dados/eleicoes-brasil-cassado-com-recurso.csv")
cassado = pd.read_csv("/content/drive/My Drive/Dados/eleicoes-brasil-cassados.csv")
frames = [cassado_com_recurso, cassado]
agrupados = pd.concat(frames)

## Quantidade de candidatos cassados ou cassados com recurso

---

In [68]:
agrupados['des_situacao_candidatura'].to_frame().reset_index().groupby(by='des_situacao_candidatura').count()

                          index
des_situacao_candidatura
CASSADO                     102
CASSADO COM RECURSO          35

## Quantidade de candidatos cassados ou cassados com recurso por estado

In [69]:
agrupados['sigla_uf'].to_frame().reset_index().groupby(by='sigla_uf').count()

          index
sigla_uf
CE            3
GO            4
MA            2
MG            4
MS            1
MT            1
PA            1
PI           45
PR            2
RJ            4
RN            1
RO            1
RS            5
SC           11
SE            2
SP           50