<a href="https://colab.research.google.com/github/matheuscosantos/candidatos-cassados-eleicoes-2016/blob/main/Analise_eleicoes_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de sobre candidatos cassados nas eleições municipais de 2016

### Autor: Matheus da Cruz Oliveira dos Santos
### Fonte: https://brasil.io/dataset/eleicoes-brasil/candidatos/

In [37]:
import pandas as pd
cassado_com_recurso = pd.read_csv("/content/drive/My Drive/Dados/eleicoes-brasil-cassado-com-recurso.csv")
cassado = pd.read_csv("/content/drive/My Drive/Dados/eleicoes-brasil-cassados.csv")
frames = [cassado_com_recurso, cassado]
agrupados = pd.concat(frames)

## Candidatos cassados ou cassados com recurso

---

In [73]:
agrupados['des_situacao_candidatura'].to_frame() \
                                     .reset_index() \
                                     .groupby(by='des_situacao_candidatura') \
                                     .count()

                          index
des_situacao_candidatura
CASSADO                     102
CASSADO COM RECURSO          35

## Candidatos cassados ou cassados com recurso por estado

In [82]:
agrupados['sigla_uf'].to_frame() \
                     .reset_index() \
                     .groupby(by='sigla_uf') \
                     .count() \
                     .sort_values(['index'], ascending=False) \
                     .head()

          index
sigla_uf
SP           50
PI           45
SC           11
RS            5
GO            4

## Candidatos cassados ou cassados com recurso por partido

In [89]:
agrupados['sigla_partido'].to_frame() \
                          .reset_index() \
                          .groupby(by='sigla_partido') \
                          .count() \
                          .sort_values(['index'], ascending=False) \
                          .head(10)

               index
sigla_partido
PTB               19
PR                11
PMDB              10
PSDB              10
PSD               10
PSB                9
PPS                9
PTC                8
PP                 7
DEM                6

## Candidatos cassados ou cassados com recurso e eleitos

In [80]:
agrupados['desc_sit_tot_turno'].to_frame() \
                              .reset_index() \
                              .groupby(by='desc_sit_tot_turno') \
                              .count() \
                              .sort_values(['index'], ascending=False)

                    index
desc_sit_tot_turno
NÃO ELEITO            108
ELEITO                 16
ELEITO POR QP           7
SUPLENTE                3

## Candidatos cassados

In [87]:
agrupados.query('desc_sit_tot_turno == "ELEITO"') \
         .sort_values(['descricao_ue'], ascending=False)

     ano_eleicao sigla_uf  ... des_situacao_candidatura  desc_sit_tot_turno
100         2016       SP  ...                  CASSADO              ELEITO
101         2016       SP  ...                  CASSADO              ELEITO
33          2016       SP  ...      CASSADO COM RECURSO              ELEITO
34          2016       SP  ...      CASSADO COM RECURSO              ELEITO
29          2016       SP  ...      CASSADO COM RECURSO              ELEITO
30          2016       SP  ...      CASSADO COM RECURSO              ELEITO
27          2016       SP  ...      CASSADO COM RECURSO              ELEITO
28          2016       SP  ...      CASSADO COM RECURSO              ELEITO
20          2016       SP  ...      CASSADO COM RECURSO              ELEITO
22          2016       SP  ...      CASSADO COM RECURSO              ELEITO
18          2016       SP  ...      CASSADO COM RECURSO              ELEITO
16          2016       SP  ...      CASSADO COM RECURSO              ELEITO
17          2016       SP  ...      CASSADO COM RECURSO              ELEITO
4           2016       GO  ...      CASSADO COM RECURSO              ELEITO
15          2016       SP  ...      CASSADO COM RECURSO              ELEITO
94          2016       SP  ...                  CASSADO              ELEITO

[16 rows x 14 columns]